{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block pagetitle %}<p>Log in</p>{% endblock %}
{% block content %}
    <title>Log In Screen</title>
    <form method="post">
        <label for="username">username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">password:</label><br>
        <input type="password" id="password" name="password">
        <button type="submit" name="Log In" value="Log In">Log In</button>
        <button type="submit" name="Cancel" value="Cancel">Cancel</button>
        <button type="submit" name="Forgot Password" value="Forgot Password">Forgot Password</button>
    </form> 
{% endblock %}