{% extends "layout.html" %}
{% block title %}Bug Creation Form{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block pagetitle %}<p>Bug Creation Form</p>{% endblock %}
{% block content %}
<title>Make Bug</title>
<form method="post" action="/insert_report">
    <label for="reportNum">Report #:</label><br>
    <input type="text" id="reportNum" name="reportNum"><br>

    <label for="bugType">Type of Bug:</label><br>
    <input type="text" id="bugType" name="bugType"><br>

    <label for="bugSummary">Summary of Bug:</label><br>
    <input type="text" id="bugSummary" name="bugSummary"><br>

    <label for="updateNotifs">Updates on bug</label><br>
    <input type="radio" id="updateNotifs" name="updateNotifs" checked><br>

    <label for="updateProgress">Updates on progress</label><br>
    <input type="radio" id="updateProgress" name="updateProgress"><br>

    <button>SUBMIT</button>
</form> 
<button>Save & Exit</button>
<button>Close</button>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}