{% extends "layout.html" %}
{% block title %}Bug Creation Form{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block pagetitle %}<p>Bug Creation Form</p>{% endblock %}
{% block content %}
<title>Make Bug</title>
<form method="post">
    <label for="reportNum">Report #:</label><br>
    <input type="text" id="reportNum" name="reportNum"><br>

    <label for="bugType">Type of Bug:</label><br>
    <input type="text" id="username" name="username"><br>

    <label for="bugSummary">Summary of Bug:</label><br>
    <input type="text" id="bugSummary" name="bugSummary"><br>

    <label for="updateNotifs">Updates on bug</label><br>
    <input type="radio" id="updateNotifs" name="updateNotifs"><br>

    <label for="updateProgress">Updates on progress</label><br>
    <input type="radio" id="updateProgress" name="updateProgress"><br>
</form> 
<button>Save & Exit</button>
<button>SUBMIT</button>
<button>Close</button>
{% endblock %}