{% extends "layout.html" %}
{% block title %}Password reset{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block pagetitle %}<p>Update Password!</p>{% endblock %}
{% block content %}
<form method="post" action="/update_password" style="display: flex;"></form>
    <div>
      <label for="new_password"> Enter New Password: </label>
      <input type="password" id="new_password">
    </div>

    <div>
        <label for="conf_password"> Confirm New Password: </label>
        <input type="password" id="conf_password">
    </div>

    <div>
        <script src="password.js"></script>
    </div>

    <div>
        <button onclick="togglePassword()">Show Password
    </div>

    <div>
        <p id="password_reqs"> Password must have one special character: (i.e., '$', '@', '#', '%', '*' ), 
            One Uppercase Letter, One Lowercase Letter, and One Numerical Value. 
        </p>
    </div>

    <div>
      <input type="submit" value="SUBMIT">
    </div>

    <div>
        <p id="same_as_old"> Error: Please choose a different password that you haven't used previously.</p><br>
        <p id="not_matching">Error: Passwords do not match.</p><br>

    </div>


</form>

<!-- if passwords are the same, and password is different from the old one, 
database will update password-->
<!-- if not, the following labels will appear-->


{% endblock %}