{% extends "layout.html" %}
{% block title %}Password reset{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block pagetitle %}<h2>Update Password Below: </h2>{% endblock %}
{% block content %}
<form method="post" action="/good_pass" style="display: flex;"></form>
    <div>
      <label for="new_password"> Enter New Password: </label>
      <input type="password" id="new_password">
    </div>

    <div>
        <label for="conf_password"> Confirm New Password: </label>
        <input type="password" id="conf_password">
    </div>

    <div>
        <script src="{{ url_for('static', filename='js/password.js') }}"></script>
    </div>

    <div>
        <button onclick="togglePassword()">Show Password
    </div>

    <div>
        <p id="password_reqs"> Password must have one special character: (i.e., '$', '@', '#', '%', '*' ), 
            One Uppercase Letter, One Lowercase Letter, and One Numerical Value. 
        </p>
    </div>

    <div>
      <input type="submit" value="SUBMIT">
    </div>


</form>

{% endblock %}